<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>FreshDirect University Help</title></%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="javascript:" rel="tab" data-target='help' data-hide-elem='navigation' class="help">Help</a>
    <a href="javascript:" rel="tab" data-target='navigation' data-hide-elem='help' class="help">Navigation</a>
  </nav>

  <section class="vision">
    <section class="message left" id="help">
      <article>
        <!--<h2>For General Technical Support</h2> 
        <p><strong>If you are a Stanford student having trouble accessing ("Register for") a Stanford on-campus course:</strong></p>
        <p>
           - <a href="/logout">Log out</a> of your OpenEdx account.<br />
           - Navigate to the "About" page of your course.<br />
           - Click on the big "Register" button, and you should be able to register for your course.  You may be asked to authenticate with WebAuth first.
        </p>-->
        <h2>For general support inquiries</h2>
        <p><strong>Email:</strong><br />
        <a href="mailto:fdu@freshdirect.com">fdu@freshdirect.com</a></p>
      </article>
    </section>
    <section class="message left" id="navigation" style="display:none;">
      <article>
	<h2>Navigation</h2>
	<p>First time navigating the FDU system? No problem!</p>
	<p>FDU is a simple tool that contains your online learning courses. It allows you to see your assigned courses, complete them, and track your progress! Take a look at the video below for an overview of how to get around in FDU</p>
</br>
        <iframe src="http://www.youtube.com/embed/uMLtp2-65ZE" width="600" height="500" frameborder="0" allowfullscreen></iframe>
      </article>
    </section>
  </section>

</section>
<script>
$('a.help').on('click', function() {
    var targetElem = $(this).data('target'),
        hideElem = $(this).data('hide-elem');

    $('#' + hideElem).hide();
    $('#' + targetElem).show();
})
</script>
